asgiref==3.11.1
Django==6.0.2
gunicorn==25.1.0
packaging==26.0
sqlparse==0.5.5
pillow==12.3.0
django-imagekit==6.1.0
django-redis==6.0.0
djangorestframework==3.18.0
djangorestframework-simplejwt==5.5.1
psycopg2-binary
channels==4.3.2
channels-redis==4.3.0
redis==8.1.0
daphne==4.2.1
uvicorn